* {
  margin: 0;
  padding: 0;
}
.form {
  max-width: 100%;
  min-width: 300px;
  margin: 20px auto;
  border-bottom: 2px solid black;
  background: lightgrey;
}
.form div{
  padding: 10px;
}
.form div input {
  width: 80%;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-indent: 15px;
  border: 1px solid black;
  border-radius: 10px;
}
input:focus {
  color: #000000;
  border: 1px solid #000000
}

#description {
  height: 100px;
}
button {
  width: 50%;
  display: block;
  margin: auto;
  height: 40px;
  background: greenyellow;
  color: #2d672d;
  font-size: large;
  border: 1px solid darkgreen;
  border-radius: 5px;
}
