* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  min-width: 300px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  background: lightgrey;
}
.container div {
  padding: 10px;
}

.tasks {
  display: flex;
}
.name{
  width: 20%;
}
.description{
  flex-grow: 1;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .btn {
    padding: 5px;
  }
}
.border {
  border: 1px solid black;
  margin-left: 5px;
}

.create-task-modal div {
  padding: 10px;
}

.create-task-modal div input {
  width: 100%;
  height: 50px;
  display: block;
  margin-bottom: 15px;
  text-indent: 15px;
  border: 1px solid black;
}

#description {
  height: 100px;
}

.makeTask {
  width: 50%;
  display: block;
  margin: auto;
  height: 40px;
  background-color: #10a7db;
  font-size: large;
  border: 1px solid darkgreen;
  border-radius: 5px;
}

.margin {
  margin: 2px;
  padding: 2px;
}

.background {
  display: flex ;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.create-task-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .layer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(192,192,192,0.8)
  }

  .modal-body {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;
    background-color: #9ba8b5;
    padding: 15px;
    width: 600px;
    max-height: 400px;
    border-radius: 15px;
    border: 1px solid gray;
  }

  .body-share {
    overflow-x: auto;
  }
}
input:focus {
  color: #000000;
  border: 1px solid #000000
}


.checkbox-share {
  width: 20px;
}
