
<script src="../form/form.component.ts"></script>
<div class="container">
  <div>
    <div class="tasks" *ngFor="let task of tasks">
      <div class="id border background">
        <span>ID: {{task.id}}
        </span>
      </div>
      <div class="name border background">
        <span>Name: {{task.name}}
        </span>
      </div>
      <div class="description border background">
        <span>Description: {{task.description}}
        </span>
      </div>

      <div class="buttons border background">
        <button class="btn btn-warning margin" (click)="openChange(task)">change</button>
        <button class="btn btn-danger margin" (click)="remove(task)">delete</button>
        <button class="btn btn-primary margin" (click)="openShare(task)"> share </button>
      </div>
    </div>

  </div>
</div>

<div class="create-task-modal" *ngIf="modalOpened" >
  <div class="layer"></div>
  <div class="modal-body" >
    <div class="d-flex justify-content-end">
      <span (click)="closeModal()">X</span>
    </div>
    <div class="form-group">
      <label for="modal-name"> name:</label>
      <input type="text"
             [(ngModel)]="selectedTask.name"
             placeholder="task name"
             id="modal-name"
      >
    </div>
    <div class="form-group">
      <label for="modal-description">description:</label>
      <input type="text"
             [(ngModel)]="selectedTask.description"
             placeholder="description"
             id="modal-description"
      >
    </div>
    <div class="form-group">
      <button class="makeTask" type="button" (click)="create()">change task</button>
    </div>
  </div>
</div>

<div class="create-task-modal" *ngIf="shareOpened" >
  <div class="layer"></div>
  <div class="modal-body d-flex flex-column">
    <div class="d-flex justify-content-end">
      <span (click)="closeShare()">X</span>
    </div>


    <label for="shareTask">Task name:</label>
    <h4 id="shareTask">{{selectedTask.name}}</h4>

    <div class="body-share flex-grow-1">
      <ul>
        <li *ngFor="let user of users">
          <div class="d-flex justify-content-between">
            <span>{{user.name}}</span>
            <span class="checkbox-share"> <input type="checkbox" [(ngModel)]="user.checked"></span>
          </div>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <button class="makeTask" type="button" (click)="shareTask()">Share task</button>
    </div>
  </div>
</div>

